<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Centri di formazione</title>
		<meta charset="utf-8" />
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="assets/images/favicon.ico">
		<link rel="shortcut icon" href="assets/images/favicon.ico" />
		<link rel="stylesheet" href="/assets/css/owl.carousel.css">
		<link rel="stylesheet" href="/assets/css/camera.css">
		<link rel="stylesheet" href="/assets/css/style.css">	
		<script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/jquery-migrate-1.1.1.js"></script>
		<script src="/assets/js/jquery.easing.1.3.js"></script>
		<script src="/assets/js/script.js"></script> 
		<script src="/assets/js/superfish.js"></script>
		<script src="/assets/js/jquery.equalheights.js"></script>
		<script src="/assets/js/jquery.mobilemenu.js"></script>
		<script src="/assets/js/tmStickUp.js"></script>
		<script src="/assets/js/jquery.ui.totop.js"></script>
		<script src="/assets/js/camera.js"></script>
		<script src="/assets/js/owl.carousel.js"></script> 
		
		
		<script src="/assets/js/jquery.mobile.customized.min.js"></script>
		<script>
		 $(window).load(function(){
		  $().UItoTop({ easingType: 'easeOutQuart' });
		  $('#stuck_container').tmStickUp({});  
		
		  $('#camera_wrap').camera({
		    loader: false,
		    pagination: false ,
		    minHeight: '400',
		    thumbnails: false,
		    height: '38.07291666666667%',
		    caption: false,
		    navigation: true,
		    fx: 'mosaic'
		  });
		
		  $("#owl").owlCarousel({
		    items : 3, //10 items above 1000px browser width
		    itemsDesktop : [995,1], //5 items between 1000px and 901px
		    itemsDesktopSmall : [767, 1], // betweem 900px and 601px
		    itemsTablet: [700, 1], //2 items between 600 and 0
		    itemsMobile : [479, 1], // itemsMobile disabled - inherit from itemsTablet option
		    navigation : true,
		    pagination :  false
		  }); 
		 }); 
		</script>
		

	</head>
	<body class="page1" id="top">
	
	<!--==============================
              header
=================================-->
<header>
  <div class="container_12">
    <div class="grid_12">
      <h1 class="logo">
        <a href="#">
          ORGANIZZAZIONE
          <span>Centri e Allievi</span>
        </a>
      </h1>
    </div>
    <div class="clear"></div>
  </div>
</header>
<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com - September22, 2014!</div>
  
  <article class="block-1 offset__1">
  <div class="container_12">
      <div class="grid_12">
        <h2>Digita il tuo username e password</h2>
      </div>    
					<form th:action="@{/login}" method="post" th:object="${responsabile}">
						<div class="field half first">
							<strong>Username:</strong>
							<input name="name" id="username" type="text" placeholder="Username" th:field="*{username}">
						</div>
						<div class="field half">
							 <strong>Password:</strong>
							<input name="email" id="email" type="password" placeholder="Password" th:field="*{password}">
						</div>
						<ul class="actions">
							<li><input value="Login" class="button alt" type="submit"></li>
						</ul>
					</form>
					
				
    </div>
  </article>
</section>
</body>
</html>

